body {
  margin:auto;
  width: auto;
  font-family: "Droid Sans Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: mintcream;
}
table {
  background: darkslategray;
  border: 1px solid maroon;
  margin:auto;
  font-size: 120%;
}

td  {
  padding: .5em;
}
.visible {
  color: white;
}
td a { text-decoration:None; color: snow }

@media screen and (min-width: 480px) {
  table {
    font-size: 150%;
  }
}
