<head>
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
  <title> GoChimp Pirate Edition </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin:auto;
      width: auto;
      font-family: 'Nova Mono', monospace;
      background: mintcream;
    }

    ul.topnav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    ul.topnav li {float: left;}

    ul.topnav li a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px;
    }

    ul.topnav li a:hover {background-color: #555;}

    ul.topnav li.icon {display: none;}

    @media screen and (max-width:680px) {
      ul.topnav li:not(:first-child) {display: none;}
      ul.topnav li.icon {
        float: right;
        display: inline-block;
      }
    }

    @media screen and (max-width:680px) {
      ul.topnav.responsive {position: relative;}
      ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      ul.topnav.responsive li {
        float: none;
        display: inline;
      }
      ul.topnav.responsive li a {
        display: block;
        text-align: left;
      }
    }

    table {
      background: darkslategray;
      border: 1px solid maroon;
      margin:auto;
      font-size: 120%;
    }

    td  {
      padding: .5em;
    }
    .nthcol {
      color: white;
    }
    td a { text-decoration:None; color: snow; width: 100%;}

    .fullscreen {
      height: 100vh; 
      width: 100vw; 
      margin:0 auto;
      position:absolute;
      left:50%;
      top:50%;
      margin-left:-50vw;
      margin-top:-50vh;
    }

    .close {
      display: none; 
      position: absolute;
      line-height: .75em;
      top: 2%;
      right: 5%;
      z-index:9999;
      text-decoration: none;
      font-size: 300%;
      color: #818181;
    }    

    @media screen and (min-width: 480px) {
      table {
        font-size: 150%;
      }
    }

    @media screen and (min-width: 768px) {
      table {
        font-size: 250%;
      }
    }

    a.login-close-text { display: none };
    #login-sign-in-link { display: none };
    #login-name-link { display: none };
  </style>

</head>

<body>

  {{> app }}

</body>

<template name='app'>

  {{> menu gold=gold currentPage=currentPage }}  

  {{> Template.dynamic template=currentPage }}

</template>

<template name="menu">
  <ul class="topnav" id="menu">
    {{#if currentUser }}
      <li><a href="#"><strong>{{ currentUser.profile.name }} +{{ gold }}</strong></a></li>
      <li><a href="#newgame" class="newgame">New Game</a></li>
      <li><a href="#leaderboard" class="leaderboard">Leaderboard</a></li>
      <li><a href="#profile" class="profile">Profile</a></li>
      <li><a href="#puzzle" class="toggleFull">Fullscreen</a></li>
      <li><a href="chimp.webm">Actual Chimps</a></li>
      <li><a href="#change" class="changePassword">Change Password</a></li>
      <li><a href="#signout" class="logout">Sign out</a></li>
    {{else}}
      <li><a href="#menu">{{ currentPageName currentPage }}</a></li> 
      <li><a href="#leaderboard" class="leaderboard">Leaderboard</a></li>
      <li><a href="chimp.webm">Actual Chimps</a></li>
      <li><a href="#forgot" class="forgotPassword">Reset Password</a></li>
      <li><a href="#signin" class="login">Sign in</a></li>
    {{/if}}
    <li class="icon">
      <a href="#">&#9776;</a>
    </li>
  </ul>
  <br style="clear:both" />
</template>

<template name='login'>

  <h3 style='text-align: center; color:maroon;'><a href="\\gochimp.herokuapp.com"><img src='chimp.png' style="display: block; margin: 0 auto;"/></a> GoChimp</h3>
  <br>
  <div style='text-align: center;'>{{> loginButtons }}</div>
  <br>

</template>

<template name="game">

  <a href="#close" class="close toggleFull">&times;</a>

  {{{ puzzle }}}

  <p style='text-align: center;font-size:85%;'>Round {{ round }}. Total {{ total }}. Best {{ best }}. High {{ high }}. Time {{ time }}.</p>

</template>

<template name='profile'>
  <style>
    input[type=text], input[type=url], input[type=email], input[type=password], input[type=number], input[type=date] {
      -webkit-appearance: none; -moz-appearance: none;
      display: block;
      margin: 0;
      padding-left: .5em;
      width: 100%; height: 40px;
      line-height: 40px; font-size: 17px;
      border: 1px solid #bbb;
    }
    
    input[type=date] {
      position: relative;
      color: white;
    }

    input[type=date]:before {
      content: attr(data-date);
      display: inline-block;
      color: black;
    }

    input[type='date']::-webkit-datetime-edit, input[type='date']::-webkit-inner-spin-button, input[type='date']::-webkit-clear-button {
      display: none;
    }

    input[type='date']::-webkit-calendar-picker-indicator {
      position: absolute;
      right: 0;
      color: black;
      opacity: 1;
    }
  </style>    

  <table style="background:mintcream; border:0; font-size: 100%; padding:1%;">
    <form>
    {{#each field in profile }}
      <tr>
        <td>
          <label for="{{ field.id }}">{{ initcaps field.id }}</label>        
        </td>
        <td>
          {{#if equals field.type 'date' }}
          <input id="{{ field.id }}" class="field" data-date="{{ field.text }}" data-date-format="DD MMMM YYYY" type="{{ field.type }}" placeholder="{{ field.value }}" value="{{ field.value }}">
          {{else}}
          <input id="{{ field.id }}" class="field" type="{{ field.type }}" placeholder="{{ field.id }}" value="{{ field.value }}">
          {{/if}}
        </td>
      </tr>
    {{/each}}
    </form>
  </table>
</template>

<template name='leaderboard'>

  <h3 style='text-align: center; color:maroon;'><a href="#"><img src='chimp.png' style="display: block; margin: 0 auto;"/></a> Top #10</h3>

  <table style="background:white; border:0; font-size: 100%; padding:1%;">
    <tr>
      <th style='text-align:left;'><b>user</b></th>
      <td>&nbsp;</td>
      <th><b>best</b></th>
      <th><b>gold</b></th>
    </tr>
  {{#each leader in leaderboard }}
    <tr style='text-align:left'>
      <td>
       {{ leader.username }}
      </td>
      <td>&nbsp;</td>
      <td style='text-align:right'>
       {{ leader.profile.best }}
      </td>
      <td style='text-align:right'>
       {{ leader.profile.gold }}
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan=2>
       Working...
      </td>
    </tr>      
  {{/each}}
  </table>

</template>
